// Navigation code here
.main-header-navigation{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    &-link{
        font-size: 1.6rem;
        color: @river-bend;
        text-decoration: none;
    }
}